src/main/mule/implementation/procces-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	
	
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bd3a0836-c568-492a-960d-718708f2a2b7" />
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="83adbef6-44bd-4be6-ac3c-cb0148fc9f40" basePath="/api">
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="f0e2de91-1dc6-4dc1-b7bb-4fe5ae847b0a" >
		<amqp:connection host="localhost" username="guest" password="guest" />
	</amqp:config>
	<http:request-config name="HTTP_Request_configuration2" doc:name="HTTP Request configuration" doc:id="3fabb809-9940-4ddb-9ba9-82c1dafb33e0" basePath="/api" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration3" doc:name="HTTP Request configuration" doc:id="0fd64672-be54-4726-9ff9-45c22d5bfd97" basePath="/api">
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration4" doc:name="HTTP Request configuration" doc:id="a3aef5e3-a1d3-4f1d-aca3-a0a54cd8a2ad" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration5" doc:name="HTTP Request configuration" doc:id="a65fba8e-5d91-4720-84db-bc05e6d03c5c" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration6" doc:name="HTTP Request configuration" doc:id="12e18e10-f5a0-4be7-8fe8-453afb92dbb2" >
		<http:request-connection host="localhost" port="8085" />
	</http:request-config>
	<flow name="insert-floorFlow" doc:id="9c18582f-adec-49b7-a218-d7d5a16eae94">
		<logger level="INFO" doc:name="Logger" doc:id="07e575cc-0d40-486e-b418-0687ba61a8cc" message="#[payload]" />
		<set-variable value="#[payload]" doc:name="request body" doc:id="b5003881-37d3-4b18-8be1-f00eb18d2676" variableName="requestBody" />
		<set-variable value='#[attributes.queryParams.id]' doc:name="Set id " doc:id="90f887fc-60cc-4332-aa5e-67a99e27e9b6" variableName="id" />
		<set-variable value="#[attributes.queryParams.floor]" doc:name="Set floor" doc:id="9ad6d3b0-d502-4ab9-a910-3c5bc71aa06c" variableName="floor"/>
		<choice doc:name="Choice" doc:id="c70f372d-d70d-4015-b81f-fd300c6867ef">
			<when expression="#[attributes.queryParams.status]">
				<flow-ref doc:name="Flow Reference to true-case-subflow" doc:id="b1cbeea2-9503-4aea-8359-3a4f53781f9e" name="true-case-subflow"/>
			
</when>
			<otherwise>
				<flow-ref doc:name="Flow Reference to default-case-subflow" doc:id="e70004f9-4652-42ac-8d1a-a6543e50997b" name="default-case-subflow"/>
			
</otherwise>
		
</choice>
	</flow>
	<sub-flow name="checkStore" doc:id="8cac90f1-96ad-4391-b613-be94d2cc33f4">
		<choice doc:name="Choice" doc:id="8b13acd1-f22f-400e-befa-b71ac147c40b">
					<when expression="#[vars.checkStore]">
						<os:retrieve doc:name="Retrieve" doc:id="ad5b3ce6-ff18-42fc-be1b-6ec7ba2882d3" key="elevatorAcc" target="elevatorAcc" />
				<ee:transform doc:name="Transform Message" doc:id="5029b510-61a7-46e0-8b13-c57309490272">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="elevatorAcc"><![CDATA[%dw 2.0
output application/json
var test = {
	"number": vars.elevatorAcc.number,
  	"status": vars.elevatorAcc.status,
  	"floor": vars.requestBody."destination-floor",
  	"user-id": vars.requestBody."user-id",
	pendingRequests : 
	[] + payload
}
---
test

]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					
</when>
					<otherwise>
						<ee:transform doc:name="Transform Message" doc:id="09becd7a-9ad2-461e-b39e-913c778c744d">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="elevatorAcc"><![CDATA[%dw 2.0
output application/json

var pendingRequests = vars.elevatorAcc[0]."pending-request" default []
var test = {
	"number": vars.id,
  	"status": true,
  	"floor": payload."destination-floor",
  	"user-id": payload."user-id",
	pendingRequests: []
}

---
test
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
					</otherwise>
				</choice>
	</sub-flow>
	<sub-flow name="true-case-subflow" doc:id="89d04421-c962-448f-be9d-2f4117f92aec" >
		<os:contains doc:name="Contains" doc:id="4e0b4975-4337-46e3-8482-e1d5f4835e7a" key="elevatorAcc" target="checkStore" />
		<flow-ref doc:name="Flow Reference to checkStore" doc:id="1b38cef5-533e-48a8-9d66-e3ca1e32993a" name="checkStore" />
		<logger level="INFO" doc:name="Log before insert" doc:id="23f49317-f6be-413e-91da-24e44ff6f74a" message='#[payload]' category="########################################################"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="aef05c33-dd02-4b78-8184-df91478f74ec" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="64d9fdf9-c82d-47d8-bfeb-850cf81a6630">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"name":vars.floor
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request insert-elevator" doc:id="b04ff0b7-e5c8-4e25-a3a0-c5663d9ab9d0" path="/insert-elevator" config-ref="HTTP_Request_configuration4"/>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="a5079cce-79e4-4b09-9472-c7c3d076a07d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name":"B"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request insert-user" doc:id="0725f1f8-b6bc-4ff0-aa05-5571e74501f9" config-ref="HTTP_Request_configuration5" path="/insert-user"/>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="09575d98-243f-4198-b8f1-f9c5253de092" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "elevator_id":3,
	"user_id":5,
	"destination_floor":2,
	"current_floor":0,
	"status":true,
	"time":123456
	
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request insert-movements" doc:id="f637bc18-616d-4fd5-90d8-51d38ae93a36" path="/insert-movements" config-ref="HTTP_Request_configuration6"/>
			</route>
			<route >
				<http:request method="POST" doc:name="Request sapi to publish" doc:id="fe73a9dd-5613-4b34-86c5-770bd6c955c6" config-ref="HTTP_Request_configuration2" path="/elevator/{id}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
		</http:request>
			</route>
		
</scatter-gather>
		<os:store doc:name="Store" doc:id="bf011af7-1ac8-4966-854b-190d3fee46b6" key="elevator">
			<os:value><![CDATA[#[vars.elevatorAcc]]]></os:value>
		</os:store>
		<ee:transform doc:name="Transform Message" doc:id="22d8ea15-2a45-4605-a2b8-4a972e58118a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "request has been created .. Going to destination  "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="default-case-subflow" doc:id="92aaad49-53bb-48de-b9c2-74c1a4f8f99e" >
		<http:request method="GET" doc:name="Request sapi to consume" doc:id="cc00af76-d443-4b26-ab22-2a16b3e43acc" config-ref="HTTP_Request_configuration3" path="/elevators" responseTimeout="500000">
					<http:query-params><![CDATA[#[output application/java
---
{
	"floor" : attributes.queryParams.floor,
	"status" : attributes.queryParams.status
}]]]></http:query-params>
				</http:request>
		<set-variable value="#[payload]" doc:name="queue" doc:id="5ab28e8a-e61e-4a1a-ba09-2d3f9957aecf" variableName="queue" />
		<flow-ref doc:name="add request to queue" doc:id="af1aacdb-4dbc-426c-bebd-6f7e81f01ced" name="checkStore" />
		<http:request method="POST" doc:name="Request sapi to publish" doc:id="b931e28a-cf00-4da9-99da-67c6f5509516" config-ref="HTTP_Request_configuration2" path="/elevator/{id}">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"id" : vars.id
}]]]></http:uri-params>
				</http:request>
		<ee:transform doc:name="Transform Message" doc:id="a5874b88-508c-4587-9f5d-a954c7b75c04">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "request has been added to pending list"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</sub-flow>
	
	
	
</mule>
